@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
 
*, *::before, *::after {
  box-sizing: border-box;
}
 
body {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
 
  display: flex;
  flex-direction: column;
}

/* Penerapan Java Script */
#searchRecipe {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

#content {
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 25px;
    padding-top: 2px;
  }

  h2 {
    text-align: center;
    font-weight: bold;
  }

  .featured-image {
    width: 100%;
    max-height: 300px;
   
    object-fit: cover;
    object-position: center;
  }
   
  .card {
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-width: 100px;
    padding: 100px;
  }

  .profile-img {
    width: 20%;
    object-position: center;
  }

  .profile-card {
    background-color: blanchedalmond;
    text-align: center;
    flex-direction: row;
    margin: 10px 24px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }

  footer {
    padding: 20px;
    color: #fff;
    background-color: #F44A5D;
    text-align: center;
  }
 
header.navbar-container {
  max-width: 1500px;
  max-height: fit-content;
  position: sticky;
  top: 0;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blanchedalmond;
 
  padding-block: 1rem;
  z-index: 999;
}
 
header.navbar-container .logo img {
  width: 200px;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem 1.5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: #F44A5D;
  color: white;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
    header.navbar-container {
      flex-direction: column;
    }
   
    header.navbar-container .nav-list ul {
      flex-wrap: wrap;
      column-gap: .5rem;
    }
   
    main {
      padding: 1rem 3rem;
    }
   
    main .content {
      flex-direction: column;
      gap: 2rem;
    }
   
    main .content .content-image {
      order: -1;
    }
  }